.right {
background: rgba(0,126,185,1);
	background: -moz-linear-gradient(-45deg, rgba(0,126,185,1) 0%, rgba(0,126,185,1) 54%, rgba(6,89,128,1) 100%);
	background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(0,126,185,1)), color-stop(54%, rgba(0,126,185,1)), color-stop(100%, rgba(6,89,128,1)));
	background: -webkit-linear-gradient(-45deg, rgba(0,126,185,1) 0%, rgba(0,126,185,1) 54%, rgba(6,89,128,1) 100%);
	background: -o-linear-gradient(-45deg, rgba(0,126,185,1) 0%, rgba(0,126,185,1) 54%, rgba(6,89,128,1) 100%);
	background: -ms-linear-gradient(-45deg, rgba(0,126,185,1) 0%, rgba(0,126,185,1) 54%, rgba(6,89,128,1) 100%);
	background: linear-gradient(135deg, rgba(0,126,185,1) 0%, rgba(0,126,185,1) 54%, rgba(6,89,128,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#007eb9', endColorstr='#065980', GradientType=1 );
}