AddDefaultCharset UTF-8
Options -Indexes
RewriteEngine On
<Files .*>
	Order Deny,Allow
	Deny From All
</Files>
RewriteRule ^changelog.txt$ changelog.php [L]
RewriteRule ^(?:core|skins)\b.* index.php/$0 [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule .* index.php/$0 [PT]