@import url('https://fonts.googleapis.com/css?family=Maven+Pro');
.adminCoreCardinal {
    direction: ltr;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    z-index: 99999999999999;
    color: #fff;
    font-family: 'Maven Pro', sans-serif !important;
    font-size: 13px;
    background: #2c2e2f;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    -webkit-transition: none;
    -o-transition: none;
    -moz-transition: none;
    transition: none;
    -webkit-font-smoothing: subpixel-antialiased;
    -moz-osx-font-smoothing: auto;
    -webkit-box-shadow: 0em 0.1em 0.7em -0.25em #000;
    -moz-box-shadow: 0em 0.1em 0.7em -0.25em #000;
    box-shadow: 0em 0.1em 0.7em -0.25em #000;
}

html.onHoverAdminRight {
    left: auto;
    right: 0px;
}

.rtl .adminCoreCardinal * {
    font-family: Tahoma, sans-serif;
}

html:lang(he-il) .rtl .adminCoreCardinal * {
    font-family: Arial, sans-serif;
}

html {
    padding-top: 2rem !important;
}

html[data-body='bottom'], html.onHoverAdmin {
    padding-top: 0px !important;
}

.adminCoreCardinal.bottom {
    position: -webkit-sticky;
    position: sticky;
    bottom: 0px;
    top: auto;
}

body .fixedForAdminCoreCardinal {
    margin-top: 2rem !important;
}

html[data-body='bottom'] .fixedForAdminCoreCardinal {
    margin-top: 0em !important;
}

html.onHoverAdmin .adminCoreCardinal {
    width: 3%;
    -webkit-transition: all 300ms ease;
    -o-transition: all 300ms ease;
    -moz-transition: all 300ms ease;
    transition: all 300ms ease;
}

html.onHoverAdmin.onHoverAdminRight .adminCoreCardinal {
    left: auto;
    right: 0px;
}

html.hideUserCardinal .adminCoreCardinal > .elems > .user {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    z-index: -2000;
}

html.onHoverAdmin .adminCoreCardinal > .elems > .items,
html.onHoverAdmin .adminCoreCardinal > .linkToAdmin,
html.onHoverAdmin .adminCoreCardinal > .elems > .user,
html.onHoverAdmin .adminCoreCardinal > .elems > .more {
    visibility: hidden;
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0);
    max-width: 0px;
    max-height: 0px;
    overflow: hidden;
    font-size: 0%;
    margin-left: -1000%;
    -webkit-transition: margin-left 300ms ease;
    -o-transition: margin-left 300ms ease;
    -moz-transition: margin-left 300ms ease;
    transition: margin-left 300ms ease;
}

html.onHoverAdmin .adminCoreCardinal:hover,
html.onHoverAdmin .adminCoreCardinal.test {
    width: 100%;
}
html.onHoverAdmin .adminCoreCardinal.test,
html.onHoverAdmin .adminCoreCardinal.test * {
    transition: 0ms;
}

html.onHoverAdmin .adminCoreCardinal:hover > .elems > .items,
html.onHoverAdmin .adminCoreCardinal:hover > .linkToAdmin,
html.onHoverAdmin .adminCoreCardinal:hover > .elems > .user,
html.onHoverAdmin .adminCoreCardinal:hover > .elems > .more,
html.onHoverAdmin .adminCoreCardinal.test > .elems > .items,
html.onHoverAdmin .adminCoreCardinal.test > .linkToAdmin,
html.onHoverAdmin .adminCoreCardinal.test > .elems > .user,
html.onHoverAdmin .adminCoreCardinal.test > .elems > .more {
    margin-left: 0px;
    visibility: visible;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
    font-size: 100%;
    max-height: 100%;
    max-width: 100%;
    overflow: initial;
}

.adminCoreCardinal ul, .adminCoreCardinal ul li {
    background: none;
    clear: none;
    list-style: none;
    margin: 0;
    padding: 0;
    position: relative;
    text-indent: 0;
    z-index: 99999;
}

.adminCoreCardinal * {
    font-family: 'Maven Pro', sans-serif !important;
    font-size: 13px !important;
    line-height: normal!important;
    color: #fff !important;
    text-decoration: none !important;
    letter-spacing: 0px !important;
    white-space: nowrap !important;
}

.adminCoreCardinal .elems {
    width: 90%;
}

.adminCoreCardinal i {
    font-family: 'FontAwesome' !important;
    padding: 0px 0.35em !important;
    font-style: normal !important;
}

.adminCoreCardinal > .logo {
    width: 3.3em !important;
    height: 2.8em !important;
    display: block !important;
    float: left !important;
    background: #2c2e2f !important;
    left: 0 !important;
    top: 0 !important;
    position: relative !important;
    margin: 0 !important;
}

.adminCoreCardinal > .logo:before {
    content: '' !important;
    display: block !important;
    width: 100% !important;
    height: 100% !important;
    background: url(cardinal.svg) no-repeat 50% !important;
    -webkit-background-size: 50% 50% !important;
    -moz-background-size: 50% !important;
    background-size: 50% !important;
}

.adminCoreCardinal > .linkToAdmin {
    float: left;
    padding: 0.75em 0.75em;
    word-break: keep-all;
    background: #2c2e2f;
    color: #fff;
    text-decoration: none;
}

.adminCoreCardinal > .elems > .items {
    float: left;
    position: relative;
    height: 100%;
}

.adminCoreCardinal > .elems > .items a {
    display: block;
    padding: 0.75em 0.75em;
    background: #2c2e2f;
    color: #fff;
    text-decoration: none;
}

.adminCoreCardinal .items a.subItem:after {
    content: '\f107';
    font-family: 'FontAwesome' !important;
    margin-left: 0.7em;
}

.adminCoreCardinal > .elems > .items a.subItem:hover:after {
    content: '\f106';
}

.adminCoreCardinal > .logo:hover,
.adminCoreCardinal > .elems > .user:hover,
.adminCoreCardinal > .linkToAdmin:hover,
.adminCoreCardinal > .elems > .items a:hover,
.adminCoreCardinal > .elems > .items .dropped a:hover,
.adminCoreCardinal > .elems > .items:hover > a {
    background: #1b1c1c !important;
}

.adminCoreCardinal > .elems > .items > .dropped {
    position: absolute;
    background: #222424;
    -webkit-transition: all 600ms ease-in-out;
    -o-transition: all 600ms ease-in-out;
    -moz-transition: all 600ms ease-in-out;
    transition: all 600ms ease-in-out;
    -webkit-transform-origin: 50% 0px;
    -moz-transform-origin: 50% 0px;
    -ms-transform-origin: 50% 0px;
    -o-transform-origin: 50% 0px;
    transform-origin: 50% 0px;
    margin-left: -3%;
    width: 106%;
    margin-top: -100%;
    z-index: -1;
    width: 106%;
    text-align: center;
    overflow: auto;
    max-height: 0px;
}

.adminCoreCardinal.bottom > .items > .dropped {
    top: auto;
    bottom: 0px;
    bottom: 0px;
}

.adminCoreCardinal > .elems > .items > .dropped::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: transparent;
}

.adminCoreCardinal > .elems > .items > .dropped::-webkit-scrollbar {
    width: 6px;
    background-color: transparent;
}

.adminCoreCardinal > .elems > .items > .dropped::-webkit-scrollbar-thumb {
    background-color: #1b1c1c;
    border: 0px;
}

.adminCoreCardinal > .elems > .items:hover > .dropped {
    margin-top: 0px;
    max-height: 95%;
    max-height: 95vh;
}

.adminCoreCardinal.bottom > .items:hover > .dropped {
    bottom: 2.3em;
}

.adminCoreCardinal > .elems > .items .dropped a {
    display: block;
    padding: 0.5em 1em;
    background: #2c2e2f;
    color: #fff;
    text-decoration: none;
}
.adminCoreCardinal > .elems > .items .dropped a span {
    white-space: normal !important;
}

.adminCoreCardinal > .elems > .user {
    float: right;
    margin: 0px 0.2em;
    position: relative;
}

.adminCoreCardinal > .elems > .user > span {
    padding: 0.6em 0.2em 0.6em 1em;
    display: block;
    float: left;
    cursor: pointer;
}

.adminCoreCardinal > .elems > .user:after {
    content: '';
    float: right;
    width: 2.2em;
    height: 2.2em;
    background: url(noAva.svg) no-repeat 50%;
    -webkit-background-size: 75% 75%;
    -moz-background-size: 75%;
    background-size: 75%;
    margin: 0px 0.5em;
}

.adminCoreCardinal > .elems > .user > .dropped {
    position: absolute;
    top: -150%;
    right: 0em;
    min-width: 5.2em;
    padding: 0.75em 1em;
    background: #222424;
    color: #fff;
    text-decoration: none;
    -webkit-transition: all 600ms ease-in-out;
    -o-transition: all 600ms ease-in-out;
    -moz-transition: all 600ms ease-in-out;
    transition: all 600ms ease-in-out;
}

.adminCoreCardinal > .elems > .user:hover > .dropped {
    top: 100%;
    text-align: center;
}

.adminCoreCardinal > .elems > .more {
    float: left;
    position: relative;
    height: 2.8em;
}

.adminCoreCardinal > .elems > .more:before {
    content: '\f149';
    font: normal normal normal 14px/1 FontAwesome;
    padding: 0.75em 1em;
    display: block;
    cursor: pointer;
    background: #2c2e2f;
}

.adminCoreCardinal > .elems > .more:hover:before {
    background: #1b1c1c;
}

.adminCoreCardinal > .elems > .more > .elems {
    position: absolute;
    margin-left: -3%;
    top: -500%;
    top: -110vh;
    left: 0px;
    background: #2c2e2f;
    z-index: -1;
    -webkit-transition: all 300ms ease-in-out;
    -o-transition: all 300ms ease-in-out;
    -moz-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
    -webkit-transform-origin: 50% 0px;
    -moz-transform-origin: 50% 0px;
    -ms-transform-origin: 50% 0px;
    -o-transform-origin: 50% 0px;
    transform-origin: 50% 0px;
}

.adminCoreCardinal > .elems > .more:hover > .elems {
    top: 2.7em;
    width: auto;
}

.adminCoreCardinal > .elems > .more > .elems > .items {
    position: relative;
}

.adminCoreCardinal > .elems > .more > .elems > .items > a {
    display: block;
    padding: 0.5em 0.75em;
    background: #2c2e2f;
    color: #fff;
    text-decoration: none;
}

.adminCoreCardinal > .elems > .more > .elems > .items > a + .dropped {
    -webkit-transition: all 300ms ease-in-out;
    -o-transition: all 300ms ease-in-out;
    -moz-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
    max-height: 0px;
    overflow: hidden;
    top: 0px;
    background: #1b1c1c;
}

.adminCoreCardinal > .elems > .more > .elems > .items:hover > a {
    background: #1b1c1c;
}

.adminCoreCardinal > .elems > .more > .elems > .items:hover > a + .dropped {
    max-height: 100vh;
}

.adminCoreCardinal > .elems > .more > .elems > .items > a + .dropped a {
    padding: 0.5em 0.75em;
    display: block;
}

.adminCoreCardinal > .elems > .more > .elems > .items:hover > a + .dropped a:hover {
    background: #1b1c1c;
    padding: 0.5em 0.75em;
}

@media(max-device-width: 900px) {
    html {
        padding-top: 3.2rem !important;
    }
    html.hideOnMobileAdminCoreCardinal .adminCoreCardinal {
        display: none !important;
    }

    .adminCoreCardinal {
        font-size: 5vw;
        -webkit-flex-wrap: wrap;
            -ms-flex-wrap: wrap;
                flex-wrap: wrap;
        /* overflow: auto; */
    }

    .adminCoreCardinal .elems {
        width: 100%;
    }

    .adminCoreCardinal > .logo {
        width: 3.3em;
        height: 2.7em;
        display: block;
        float: left;
        background: #2c2e2f;
    }

    .adminCoreCardinal * {
        font-size: 5vw;
    }

    .adminCoreCardinal > .elems > .user {
        display: none;
    }

    .adminCoreCardinal > .linkToAdmin {
        padding: 3.6vw 2.6vw;
        width: 80%;
        text-align: center;
    }

    .adminCoreCardinal > .linkToAdmin:after {
        content: '\f107';
        font-family: 'FontAwesome';
        padding-left: 6vw;
    }

    .adminCoreCardinal > .elems > .items {
        display: none;
        width: 100%;
        margin: 2.5vw 0px;
    }

    .adminCoreCardinal > .elems > .items > .dropped {
        position: relative;
        top: 0px;
        margin: 0px;
        padding: 0px 0px 0px 12vw;
        -webkit-transform: scale(0);
        -moz-transform: scale(0);
        -ms-transform: scale(0);
        -o-transform: scale(0);
        transform: scale(0);
        -webkit-transform-origin: 0px 0px;
        -moz-transform-origin: 0px 0px;
        -ms-transform-origin: 0px 0px;
        -o-transform-origin: 0px 0px;
        transform-origin: 0px 0px;
        display: none;
    }

    .adminCoreCardinal > .elems > .items:hover .dropped {
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
        transform: scale(1);
        display: block;
    }

    .adminCoreCardinal > .elems > .items .dropped a {
        background: initial;
        padding: 4vw 1vw;
        margin: 4.5vw 0px;
    }

    .adminCoreCardinal:hover > .elems > .items {
        display: block;
    }

    .adminCoreCardinal > .elems > .more:before {
        content: '\f149';
        font: normal normal normal 0.7em/1 FontAwesome;
        padding: 1.35em 2.2em;
        display: block;
        cursor: pointer;
    }

    .adminCoreCardinal > .elems > .more > .elems {
        right: 0px;
        left: auto;
        width: 98vw;
        max-height: 0px;
        overflow: auto;
        top: 3.2rem;
    }

    .adminCoreCardinal > .elems > .more:hover > .elems {
        max-height: -webkit-calc(70vh - 3.2rem);
        max-height: -moz-calc(70vh - 3.2rem);
        max-height: calc(70vh - 3.2rem);
    }

    .adminCoreCardinal > .elems > .more > .elems > .items > a + .dropped {
        position: relative;
        left: 0;
        background: #1b1c1c;
        max-height: 0px;
        overflow: hidden;
    }

    .adminCoreCardinal > .elems > .more > .elems > .items > a:hover + .dropped {
        max-height: 100vh;
    }
}