@import url('https://fonts.googleapis.com/css?family=Maven+Pro');
.adminCoreCardinal {
	direction: ltr;
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	z-index: 99999999999999;
	color: #fff;
	font-family: 'Maven Pro', sans-serif !important;
	font-size: 14px;
	background: #ac1f1f;
	-webkit-border-radius: 0;
	border-radius: 0;
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
	-webkit-transition: none;
	transition: none;
	-webkit-font-smoothing: subpixel-antialiased;
	-moz-osx-font-smoothing: auto;
	/* box-shadow: 0em 0.1em 0.7em 0em #000; */
}
.rtl .adminCoreCardinal * {
	font-family: Tahoma, sans-serif;
}
html:lang(he-il) .rtl .adminCoreCardinal *  {
 	font-family: Arial, sans-serif;
}
.adminCoreCardinal ul, .adminCoreCardinal ul li {
	background: none;
	clear: none;
	list-style: none;
	margin: 0;
	padding: 0;
	position: relative;
	text-indent: 0;
	z-index: 99999;
}
.adminCoreCardinal * { font-family: 'Maven Pro', sans-serif !important; font-size: 14px; }
.adminCoreCardinal i { font-family: 'FontAwesome' !important; padding: 0px 0.35em; font-style: none; }
.adminCoreCardinal > .logo {
	width: 1.6em;
	height: 1.6em;
	display: block;
	float: left;
	padding: 0.3em 1em 0.3em 1em;
	background: #ac1f1f;
}
.adminCoreCardinal > .logo:before {
	content: '';
	display: block;
	width: 100%;
	height: 100%;
	background: url(cardinal.svg) no-repeat 50%;
}
.adminCoreCardinal > .linkToAdmin {
	float: left;
	padding: 0.5em 0.75em;
	background: #ac1f1f;
}
.adminCoreCardinal > .items {
	float: left;
}
.adminCoreCardinal > .items a {
	display: block;
	padding: 0.5em 0.75em;
	background: #ac1f1f;
}
.adminCoreCardinal > .logo:hover, .adminCoreCardinal > .user:hover, .adminCoreCardinal > .linkToAdmin:hover, .adminCoreCardinal > .items a:hover, .adminCoreCardinal > .items .dropped a:hover, .adminCoreCardinal > .items:hover > a {
	background: #7d1515;
}
.adminCoreCardinal > .items .dropped a {
	display: block;
	padding: 0.5em 1em;
	background: #ac1f1f;
}
.adminCoreCardinal > .items > .dropped {
	position: absolute;
	top: 2.2em;
	background: #ac1f1f;
	transition: all 300ms ease-in-out;
	transform-origin: 50% 0px;
	margin-left: -3%;
	margin-top: -100%;
	z-index: -1;
}
.adminCoreCardinal > .items:hover > .dropped {
	margin-top: 0px;
}
.adminCoreCardinal > .user {
	float: right;
	margin: 0px 0.2em;
}
.adminCoreCardinal > .user > span {
	padding: 0.5em 0.2em 0.5em 1em;
	display: block;
	float: left;
	cursor: pointer;
}
.adminCoreCardinal > .user:after {
	content: '';
	float: right;
	width: 2.2em;
	height: 2.2em;
	background: url(noAva.svg) no-repeat 50%;
	background-size: 75%;
	margin: 0px 0.5em;
}
.adminCoreCardinal > .user > .dropped {
	display: none;
	position: absolute;
	top: 2.2em;
	right: 0.2em;
	min-width: 5.2em;
	padding: 1em;
	background: #ac1f1f;
}
.adminCoreCardinal > .user:hover > .dropped {
	display: block;
	text-align: center;
}
@media(max-device-width: 900px) {
	.adminCoreCardinal {
		font-size: 5vw;
		overflow: auto;
	}
	.adminCoreCardinal * {
		font-size: 5vw;
	}
	.adminCoreCardinal > .user {
		display: none;
	}
	.adminCoreCardinal > .linkToAdmin {
		padding: 2.6vw 2.6vw;
		width: 70%;
		text-align: center;
	}
	.adminCoreCardinal > .items {
		display: none;
		width: 100%;
		margin: 2.5vw 0px;
	}
	.adminCoreCardinal > .items > .dropped {
		position: relative;
		top: 0px;
		margin: 0px;
		padding: 0px 0px 0px 12vw;
		transform: scale(0);
		transform-origin: 0px 0px;
		display: none;
	}
	.adminCoreCardinal > .items:hover .dropped {
		transform: scale(1);
		display: block;
	}
	.adminCoreCardinal > .items .dropped a {
		background: initial;
		padding: 4vw 1vw;
		margin: 4.5vw 0px;
	}
	.adminCoreCardinal:hover > .items {
		display: block;
	}
}