@import url('https://fonts.googleapis.com/css?family=Maven+Pro');
.adminCoreCardinal {
	direction: ltr;
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	z-index: 99999999999999;
	color: #fff;
	font-family: 'Maven Pro', sans-serif !important;
	font-size: 13px;
	background: #ac1f1f;
	-webkit-border-radius: 0;
	border-radius: 0;
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
	-webkit-transition: none;
	transition: none;
	-webkit-font-smoothing: subpixel-antialiased;
	-moz-osx-font-smoothing: auto;
	box-shadow: 0em 0.1em 0.7em -0.25em #000;
}
.rtl .adminCoreCardinal * {
	font-family: Tahoma, sans-serif;
}
html:lang(he-il) .rtl .adminCoreCardinal *  {
 	font-family: Arial, sans-serif;
}
body {
	padding-top: 1.9em !important;
}
.adminCoreCardinal ul, .adminCoreCardinal ul li {
	background: none;
	clear: none;
	list-style: none;
	margin: 0;
	padding: 0;
	position: relative;
	text-indent: 0;
	z-index: 99999;
}
.adminCoreCardinal * {font-family: 'Maven Pro', sans-serif !important;font-size: 13px;color: #fff;text-decoration: none;}
.adminCoreCardinal i { font-family: 'FontAwesome' !important; padding: 0px 0.35em; font-style: normal; }
.adminCoreCardinal > .logo {
	width: 3.3em;
	height: 2.4em;
	display: block;
	float: left;
	background: #ac1f1f;
}
.adminCoreCardinal > .logo:before {
	content: '';
	display: block;
	width: 100%;
	height: 100%;
	background: url(cardinal.svg) no-repeat 50%;
	background-size: 50%;
}
.adminCoreCardinal > .linkToAdmin {
	float: left;
	padding: 0.55em 0.75em;
	background: #ac1f1f;
	color: #fff;
	text-decoration: none;
}
.adminCoreCardinal > .items {
	float: left;
	position: relative;
}
.adminCoreCardinal > .items a {
	display: block;
	padding: 0.5em 0.75em;
	background: #ac1f1f;
	color: #fff;
	text-decoration: none;
}
.adminCoreCardinal > .items a.subItem:after {
	content: '\f107';
	font-family: 'FontAwesome' !important;
	margin-left: 0.7em;
}
.adminCoreCardinal > .items a.subItem:hover:after {
	content: '\f106';
}
.adminCoreCardinal > .logo:hover, .adminCoreCardinal > .user:hover, .adminCoreCardinal > .linkToAdmin:hover, .adminCoreCardinal > .items a:hover, .adminCoreCardinal > .items .dropped a:hover, .adminCoreCardinal > .items:hover > a {
	background: #7d1515;
}
.adminCoreCardinal > .items > .dropped {
	position: absolute;
	top: -500%;
	top: -100vh;
	background: #ac1f1f;
	transition: all 300ms ease-in-out;
	transform-origin: 50% 0px;
	margin-left: -3%;
	margin-top: -100%;
	z-index: -1;
	width: 106%;
	text-align: center;
}
.adminCoreCardinal > .items:hover > .dropped {
	margin-top: 0px;
	top: auto;
}
.adminCoreCardinal > .items .dropped a {
	display: block;
	padding: 0.5em 1em;
	background: #ac1f1f;
	color: #fff;
	text-decoration: none;
}
.adminCoreCardinal > .user {
	float: right;
	margin: 0px 0.2em;
	position: relative;
}
.adminCoreCardinal > .user > span {
	padding: 0.55em 0.2em 0.55em 1em;
	display: block;
	float: left;
	cursor: pointer;
}
.adminCoreCardinal > .user:after {
	content: '';
	float: right;
	width: 2.2em;
	height: 2.2em;
	background: url(noAva.svg) no-repeat 50%;
	background-size: 75%;
	margin: 0px 0.5em;
}
.adminCoreCardinal > .user > .dropped {
	display: none;
	position: absolute;
	top: 2.6em;
	right: 0.2em;
	min-width: 5.2em;
	padding: 0.75em 1em;
	background: #ac1f1f;
	color: #fff;
	text-decoration: none;
}
.adminCoreCardinal > .user:hover > .dropped {
	display: block;
	text-align: center;
}
.adminCoreCardinal > .more {
	float: left;
	position: relative;
}
.adminCoreCardinal > .more:before {
	content: '\f149';
	font: normal normal normal 14px/1 FontAwesome;
	padding: 0.6em 1em;
	display: block;
	cursor: pointer;
	background: #ac1f1f;
}
.adminCoreCardinal > .more:hover:before {
	background: #7d1515;
}
.adminCoreCardinal > .more > .elems {
	position: absolute;
	margin-left: -3%;
	top: -500%;
	top: -100vh;
	left: 0px;
	background: #ac1f1f;
	z-index: -1;
	transition: all 300ms ease-in-out;
	transform-origin: 50% 0px;
}
.adminCoreCardinal > .more:hover > .elems {
	top: 2.4em;
}
.adminCoreCardinal > .more > .elems > .items {
	position: relative;
}
.adminCoreCardinal > .more > .elems > .items > a {
	display: block;
	padding: 0.5em 0.75em;
	background: #ac1f1f;
	color: #fff;
	text-decoration: none;
}
.adminCoreCardinal > .more > .elems > .items > a + .dropped {
	transform: scale(0);
	transition: all 300ms ease-in-out;
	transform-origin: 100% 50%;
	width: 0px;
	overflow: hidden;
	position: absolute;
	left: -100%;
	top: 0px;
	background: #ac1f1f;
}
.adminCoreCardinal > .more > .elems > .items:hover > a {
	background: #7d1515;
}
.adminCoreCardinal > .more > .elems > .items:hover > a + .dropped {
	transform: scale(1);
	width: 100%;
}
.adminCoreCardinal > .more > .elems > .items:hover > a + .dropped a {
	padding: 0.5em 0.75em;
	display: block;
}
.adminCoreCardinal > .more > .elems > .items:hover > a + .dropped a:hover {
	background: #7d1515;
	padding: 0.5em 0.75em;
}
@media(max-device-width: 900px) {
	body {
		padding-top: 5em !important;
	}
	.adminCoreCardinal {
		font-size: 5vw;
		/* overflow: auto; */
	}
	.adminCoreCardinal > .logo {
		width: 3.3em;
		height: 2.7em;
		display: block;
		float: left;
		background: #ac1f1f;
	}
	.adminCoreCardinal * {
		font-size: 5vw;
	}
	.adminCoreCardinal > .user {
		display: none;
	}
	.adminCoreCardinal > .linkToAdmin {
		padding: 3.6vw 2.6vw;
		width: 60%;
		text-align: center;
	}
	.adminCoreCardinal > .items {
		display: none;
		width: 100%;
		margin: 2.5vw 0px;
	}
	.adminCoreCardinal > .items > .dropped {
		position: relative;
		top: 0px;
		margin: 0px;
		padding: 0px 0px 0px 12vw;
		transform: scale(0);
		transform-origin: 0px 0px;
		display: none;
	}
	.adminCoreCardinal > .items:hover .dropped {
		transform: scale(1);
		display: block;
	}
	.adminCoreCardinal > .items .dropped a {
		background: initial;
		padding: 4vw 1vw;
		margin: 4.5vw 0px;
	}
	.adminCoreCardinal:hover > .items {
		display: block;
	}
	.adminCoreCardinal > .more:before {
		content: '\f149';
		font: normal normal normal 14px/1 FontAwesome;
		padding: 1.35em 2.2em;
		display: block;
		cursor: pointer;
	}
	.adminCoreCardinal > .more > .elems {right: 0px;left: auto;}
}