/**
 *
 * Apply your custom CSS here
 *
*/

.login-page, .lockscreen-page {

}

.chart-item-bg {
	margin-bottom: 0px;
}

.fancybox-skin,.fancybox-type-iframe .fancybox-inner {
    min-height: 80vh;
}

.fancybox-opened .fancybox-skin {
    box-shadow: none;
    border-radius: 0;
    padding: 1em !important;
}